<div class="main">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class="nav">


        <div>
            <div >
                <h1> PREFERENCE</h1>
            </div>

        </div>
        <div>
            <label>Default View</label>
            <mat-form-field>
                <mat-label>Select me</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                </mat-select>

            </mat-form-field>
        </div>
    </div>
</div>