<div class="side">


<app-navbar></app-navbar>
<div class="dis">
  <div class="sid">
    <!-- <app-sidebar></app-sidebar> -->
  </div>
  <div class="nav">


    <div class="main">
      <div>
        <div class="fica1">
          <div>
            <mat-card class="fica">
              <mat-card-content>Total Appointment-Today</mat-card-content>
              <div class="num">
              <span style="margin-top: 50px;"><img src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/Icons/Today_Widget.svg" alt=""></span>
              <span class="num1">4</span>
            </div>
              <span><a href=""></a></span>
            </mat-card>

          </div>
          <div>
            <mat-card class="fica">
              <mat-card-content>Total Appointment-Today</mat-card-content>
              <div class="num">
                <span style="margin-top: 50px;"><img src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/Icons/Today_Widget.svg" alt=""></span>
                <span class="num1">8</span>
              </div>
              <span><a href=""></a></span>
            </mat-card>

          </div>
        </div>
        <div class="second">
          <div class="hea">
            <h2>Today's Appoiments</h2>
            <a href="ss"> Book Appoiments</a>

          </div>
          <table class="table border">
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Doctor Name</th>
                <th>Symtoms</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01:00 pm</td>
                <td>laura</td>
                <td>NemboLukeni</td>
                <td>Sweting , chile</td>
              </tr>
              <tr>
                <td>01:00 pm</td>
                <td>laura</td>
                <td>NemboLukeni</td>
                <td>Sweting , chile</td>
              </tr>
              <tr>
                <td>01:00 pm</td>
                <td>laura</td>
                <td>NemboLukeni</td>
                <td>Sweting , chile</td>
              </tr>
              <tr>
                <td>01:00 pm</td>
                <td>laura</td>
                <td>NemboLukeni</td>
                <td>Sweting , chile</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="graph">
          <h1>Consultation</h1>
          <div class="box">
            <div [chart]="chart"></div>

        </div>

        </div>
      </div>


      <div class="right">
        <div class="recent">
          <h2>Receint Activity</h2>
          <div class="activity">
            <div class="res">
              <span> <b> Added New Doctor- </b>Dr.Johnson</span>
              <span>James,Cardiologist</span>
              <span id="year">2 year ago</span>

            </div>
            <div class="res1">
              <span> <b> Added New Doctor- </b>Dr.Johnson</span>
              <span>James,Cardiologist</span>
              <span id="year">2 year ago</span>

            </div>
            <div class="res2">
              <span> <b> Added New Doctor- </b>Dr.Johnson</span>
              <span>James,Cardiologist</span>
              <span id="year">2 year ago</span>

            </div>
            <div class="res3">
              <span> <b> Added New Doctor- </b>Dr.Johnson</span>
              <span>James,Cardiologist</span>
              <span id="year">2 year ago</span>

            </div>
            <div class="res4">
              <span> <b> Added New Doctor- </b>Dr.Johnson</span>
              <span>James,Cardiologist</span>
              <span id="year">2 year ago</span>

            </div>
            <div class="res5">
              <span> <b> Added New Doctor- </b>Dr.Johnson</span>
              <span>James,Cardiologist</span>
              <span id="year">2 year ago</span>


            </div>

          </div>



        </div>

        <div class="doava">
          <h2>Doctor's Avalabal</h2>
          <div class="cont">
            <div class="im">
              <img src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/images/NemboLukni.png"
                alt="">
            </div>
            <div class="co">
              <span> <b>Dr.Nambo Lukeni</b></span>
              <span>GENERAL MEDICIAN</span>
            </div>
          </div>
          <div class="cont">
            <div class="im">
              <img src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/images/NemboLukni.png"
                alt="">
            </div>
            <div class="co">
              <span> <b>Dr.Nambo Lukeni</b></span>
              <span>GENERAL MEDICIAN</span>
            </div>
          </div>
          <div class="cont">
            <div class="im">
              <img src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/images/NemboLukni.png"
                alt="">
            </div>
            <div class="co">
              <span> <b>Dr.Nambo Lukeni</b></span>
              <span>GENERAL MEDICIAN</span>
            </div>
          </div>
          <div class="cont">
            <div class="im">
              <img src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/images/NemboLukni.png"
                alt="">
            </div>
            <div class="co">
              <span> <b>Dr.Nambo Lukeni</b></span>
              <span>GENERAL MEDICIAN</span>
            </div>
          </div>
        </div>

      </div>

      

    </div>
  </div>
</div>