<div class="container1">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class="main">
        <div>
            <h1>PATIENTS LIST</h1>
        </div>
        <div class="hea">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-form-field>
            <button style="background-color: rgb(129, 129, 229);height: 60px;" mat-button (click)="openDialog()">Add
                Patients</button>
        </div>
        <div>
            <table class="table border">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Blood Group</th>
                        <th>Symptoms</th>
                        <th>Mobile Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>"ahshsa"</td>
                        <td>"sHGD"</td>
                        <td>",sjh"</td>
                        <td>    wdj</td> 
                        <td>    jdd </td>
                        <td>  qdqef</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        
    </div>
</div>