<div class="main">

    <div>
        <div class="im">
            <img src="assets/drimg.jpg" alt="">
        </div>
        <div class="he">
            <h1>JaneDoe</h1>
            <h3>Admin</h3>
        </div>
    </div>
    <hr>
    <div class="da1">
        <div class="da" routerLink="das">
            <mat-icon>dashboard</mat-icon>
            <h2>Dashbord</h2>
        </div>
        <div class="da">
            <mat-icon>today</mat-icon>
            <h2>Shedule</h2>
        </div>
        <div class="da" routerLink="doc">
            <mat-icon> local_hospital</mat-icon>
            <h2 routerLink="doc">Doctors</h2>
        </div>
        <div class="da" routerLink="patients">
            <mat-icon>wc</mat-icon>
            <h2>Patients</h2>
        </div>
        <div class="da" routerLink="prefrence">
            <mat-icon>line_weight</mat-icon>
            <h2>Preferencs</h2>
        </div>
        <div class="da">
            <mat-icon>block</mat-icon>
            <h2>About</h2>
        </div>
    </div>
</div>
<router-outlet></router-outlet>